a{
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
li{
  text-decoration: none;
  list-style-type: none;
}
.content{
padding-bottom: 60px;
width: 600px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff;
}
/* GiftCard */
.content-gift{
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  margin: 20px 0 -20px 0;
}
.content-giftcards{
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(226, 231, 230); */
  width: 600px;
  height: auto;
  align-items: center;
  border-radius: 0 0 20px 20px;
  background-color: rgb(226, 231, 230);
}
.giftcard{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
}
.slider-title{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}
.slider-title li{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 0 10px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  font-size: 15px;
  
}
.slider-title li h4{
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}
/* GiftCard End*/

/* Form */
.content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.text-title{
  width: 500px;
  padding: 0;
}
.text-title-cost{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.text-title-cost li{
  border: 1px solid #D0D0D0;
  width: 18%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}
.text-title-cost li:hover{
  background-color: #D0D0D0;
}

.form-title{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}
.form-title li{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.form-title li label{
  padding-bottom: 10px;
}
.form-title li input{
  height: 25px;
  border: 1px solid #D0D0D0;
}
/* Form End */

/* Delivery */

.delivery-choose{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  padding: 0;
}

.delivery-choose div{
  display: flex;
  align-items: center;
}
/* Delivery End */

/* Message */
textarea[type="textarea"]{
  height: 100px;
  width: 496px;
  padding: 0;
  margin-bottom: 10px;
}
/* Message  End*/

/* Button */
.content-quantity{
  display: flex;
  width: 500px;
  height: 30px;
  justify-content: space-between;
}
.content-qty{
  display: flex;
  width: 80px;
  height: 30px;
  align-items: center;
}
.content-qty label{
  margin-right: 10px;
}
.title-qty{
  width: 100px;
  display: flex;
  font-display: row;
}
.title-qty input{
  width: 40px;
  height: 20px;
}
.title-qty div{
  width: 20px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2px;
}
.button-qty-plus, .button-qty-minus{
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D95632;
  color: #fff;
  border: none;
}
/* Button End */
/* ADD to Cart */
.button-AddtoCart{
  width: 76%;
  background-color: #D95632;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* ADD to Cart End */
/* Slider */
.giftcards-slider{
  width: 400px;
  height: auto;
}
.slide{
  display: flex;
  order: 2;
  width: 350px;
  height: 150px;
  margin-bottom: 30px;
}
.button_prv{
  display: flex;
  order: 1;
}
.button_next{
  display: flex;
  order: 3;
}
/* end slider */